.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.footeraparte{
    background-color: #FF7A47;
  position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
    background-image: linear-gradient(to bottom, #FF7A47, black);
}

.Form {

    margin-left: 15px;

}

img {
    width: 250px;

}



.main {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 250px;
    justify-items: center;
    align-items: stretch;
}


.contactanosimg {
    width: 600px;
    height: 450px;
}





ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;




}




h1 {
    font-family: 'Righteous', cursive;
    font-weight: 100;
    font-size: xx-large;
    color: whitesmoke;

}

h2 {
    font-family: 'Righteous', cursive;
}

p {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif
}

a {
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: black;

}

.imagen1 {

    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.padre {
    background-color: #FF7A47;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    background-image: linear-gradient(to top, #FF7A47, black);

}

.hijo {
     text-decoration:none;
    background-color: black;
    width: 150px;
    height: 50px;
   
}


.div {

    margin-right: 40px;
}





.imagen2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

/*h1 titulos*/

.inicio2 {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 50px;
    margin-left: 20px;
}




.descuentos2 {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 510px;
    height: 50px;
    margin-left: 20px;
    border-top: 40px;
}

.contactanos2 {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 50px;
    margin-left: 20px;
}

/*imagenes*/
.imagen3 {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.h1__padre {
    width: auto;
    background-color: black;
    display: flex;

}




.imagen6 {
    display: flex;

    justify-content: center;



}

.videos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer__padre {
    background-color: #FF7A47;
  margin-top: 10px;
   left: 0;
   bottom: 0;
   width: 100%;
    background-image: linear-gradient(to bottom, #FF7A47, black);
   
    

}

/*imagen de instagram footer*/
.fotoig {
    display: grid;
    grid-template-columns: 80px 60px;
    width: 60px;
    height: 60px;
}

.nosotros {
   width: 400px;
    height: 250px;
    align-items: center;
    display:block;
margin:auto;
    border-radius: 10px;
    border: 20px;

    
    
    
    
}


.coleccion:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}


.imagencontacto {
    display: flex;



}

.zapatillas {
    width: 400px;
    height: 300px;
    margin-left: 38%;
    margin-top: 10px;
}

.titulos2{
   justify-content: flex-end;
}

.titulos {
    text-align: center;
}



.formulario {
    margin-top: 30px;
    margin-left: 15px;
}

.main {
    display: grid;
    justify-content: center;
}
